'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Language Log Plus'
        'submenu': [
          {
            'label': 'Toggle filter'
            'command': 'language-log-plus:toggle-log-panel'
          }
          {
            'label': 'Toggle focus'
            'command': 'language-log-plus:toggle-focus'
          }
        ]
      }
    ]
  }
]
